[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[credential]
  helper = cache
[user]
  name = \"Robby Thompson\"
  email = robsdudeson@gmail.com
[core]
  excludesfile = /home/robsdudeson/.gitignore_global
[includeIf "gitdir:~/code_work/"]
	path = ~/code_work/.gitconfig
[diff]
  tool = vscode
	colorMoved = zebra
[difftool]
  prompt = false
[difftool "vscode"]
  trustExitCode = true
  cmd = code --wait --diff \"$LOCAL\" \"$REMOTE\"
[merge]
  tool = vscode
[mergetool]
  prompt = false
[mergetool "vscode"]
  trustExitCode = true
  cmd = code --wait \"$MERGED\"
[pull]
	rebase = true
[fetch]
	prune = true
[init]
	defaultBranch = main
